/*--------------------------------------- navbar ---------------------------------------*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body{
    font-family: arial;
  }   
  header {
    height: 70px;
    background: rgb(0, 0, 0);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 14px;
  }
  header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  .navbar .logo {
    color: #fff;
    font-weight: 800;
    font-size: 2.1rem;
    text-decoration: none;
  }
  .navbar .logo span {
    color: #ff0000;
  }
  .navbar a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s ease;
  }
  .navbar a:hover {
    color: #ff0000;
  }
  .navbar .menu-links {
    display: flex;
    list-style: none;
    gap: 35px;
  }
/*--------------------------------------- footer ---------------------------------------*/
  .footer {
    text-align: center;
    position: absolute;
    margin-top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1280px;
    width: 95%;
    background: #000000;
    border-radius: 6px;
  }
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
  } 
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .footer-col .links {
    margin-top: 20px;
  }
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  .footer-col .links li a:hover {
    color: #ff0000;
  }
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  .img {
    margin-left: 542px;
    display: flex;
    width: 150px;
    height: 150px;
  }
/*--------------------------------------- img-1 ---------------------------------------*/
  .container {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .bottom-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgb(245, 236, 236);
    font-size: 20px;
    display: flex;
  }
  .text {
    margin-top: 20px;
    text-align: center;
    font-size: 4vw;
  }
  .p{
    text-align: center;
    font-size: 20px;
  }
/*--------------------------------------- img-2 ---------------------------------------*/
  section {
    padding: 35px;
  }  
/*--------------------------------------- jqurey ---------------------------------------*/
  .jqurey{
    padding: 20px;
  }
  .more{
    display: none;
  }
  .post{
    color: rgb(21, 20, 20);
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
    font-family: 'work sans',sans-serif;
  }
  .read{
    align-items: center;
    margin-top: 15px;
    display: block;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 8px 20px;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 581px;
}
/*--------------------------------------- jqurey-p ---------------------------------------*/
  .t1 {
    margin-top: 20px;
    text-align: center;
    font-size: 3vw;
  }
  .p1{
    text-align: center;
    font-size: 18px;
  }